* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: #262626;
}

.contenitore {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}


header {
  top: 0;
  height: 100px;
  width: 100%;
  background-color:  black;
  position: fixed;
}

.header-left {
  height: 100px;
  float: left;
  width: 30%;
}

.header-right {
  height: 100px;
  width: 70%;
  float: left;
  text-align: right;
}

.header-left .logo {
  color: red;
  font-size: 30px;
  line-height: 100px;
  margin-left: 40px;
}

#search {
  height: 40px;
  margin-top: 30px;
  padding: 5px;
  font-size: 20px;

}

#btn_search {
  height: 40px;
  width: 50px;
  margin-right: 20px;

}


#films {
  height: calc(100vh - 100px);
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  overflow: auto;
  border: 1px solid red;
}

.film {
  float: left;
  border: 1px solid white;
  width: 21%;
  height: 400px;
  color: white;
  margin: 2%;
  padding: 10px;
}

.film ul li {
  list-style-type: none;
  font-size: 20px;
}

.fas.fa-star {
  color: yellow;
}

 .icon_flag {
   position: relative;
 }

.icon_flag > img {
  width: 32px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
